# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
navigation:
  main: main

collections:
  posts:
    output: true

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      author_info: true
      read_time: true
      comments: false
      share: true
      related: true
      date_format: "%Y-%m-%d"
  - scope:
      path: ""
      type: pages
    values:
      author_profile: true
      author_info: true

# Enable tag/category pages
category_archive:
  type: jekyll-archives
  path: /categories/

tag_archive:
  type: jekyll-archives
  path: /tags/

plugins:
  - jekyll-archives

jekyll-archives:
  enabled:
    - year
    - categories
    - tags
  layout: archive
  permalinks:
    year: '/year-archive/:title/'
    tag: '/tags/:name/'
    category: '/categories/:name/'




#   Write an awesome description for your new site here. You can edit this
#   line in _config.yml. It will appear in your document head meta (for
#   Google search results) and in your feed.xml site description.

#  I write about cybersecurity, cloud, and software development. This blog shares what I learn, build, and explore.
title: ""
logo: "/assets/images/flaming_logo_bosen.gif"
email: bosen1689@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  I,Bosen Li, write about cybersecurity, cloud, and software development, machine learning, artificial intelligence. This blog shares what I learn, build, and explore.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  bosenli

# Build settings
remote_theme: "mmistakes/minimal-mistakes"
minimal_mistakes_skin: "dark"
search: true
search_full_content: true
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-include-cache

author:
  name: BOSEN LI
  avatar: "/assets/images/profile.png"
  bio: >
    Life Long Learner, interested in Software Dev, Cybersecurity, Cloud Computing, ML/AI.
  email: bosen1689@gmail.com
  links:
    - label: "GitHub"
      icon: "fab fa-github"
      url: "https://github.com/bosenli"
    - label: "LinkedIn"
      icon: "fab fa-linkedin"
      url: "https://linkedin.com/in/bosenlinyu"


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
